.gridwrapper{
    display:grid;
    grid-template-rows: 1 fr 3fr 1fr 2fr 3fr 3fr 3fr;
    grid-template-columns: 1fr;
}

.container{
    max-width:1100px;
    margin:0 auto;
}

.logo img{
    width:110px;
}

header .container{
    display:grid;
    grid-template-columns: 130px 2fr 1fr;
    align-items: center;
}

header ul{
    display:flex;
    list-style: none;
}

header a{
    text-decoration: none;
    padding: 0.5rem;
}

.ul a:hover{
    width: auto;
    
}