/*------------------------------------------------------------*/
/* Fonts / Colors */
/*------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --white: white;
    --black: #36383F;
    --grey: #85888C;
    --beige: antiquewhite;
    --red: #CC6666;
}

/*------------------------------------------------------------*/
/* Default Settings */
/*------------------------------------------------------------*/
* {
    box-sizing: border-box;
}

body{
    background-color:var(--beige);
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1,h2{
    margin-top:10px;
}

h1{
    font-size:30px;
}
h2{
    font-size: 17px;
}
/*------------------------------------------------------------*/
/* Grid-Settings */
/*------------------------------------------------------------*/
.wrapper{
    padding: 0 2rem;
    width: 100%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap:10px;
}

.wrapper-2{
    padding: 0 2rem;
    width: 100%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap:10px;
}

/*------------------------------------------------------------*/
/* Footer */
/*------------------------------------------------------------*/

footer{
    background-color: darkgrey;
    height: auto;
    width: auto;
    margin-top: 100px;
    display:grid;
    font-size: 15px;
}

footer .box{
    padding:10px;
}

.responsivefooter {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/*------------------------------------------------------------*/
/* Special Settings / own Classes*/
/*------------------------------------------------------------*/
.center{
    text-align: center;
}

.responsive {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

.picright{
    text-align: right;
}

/*Image Fullscreen*/
.fullscreen {
    max-width: 100%;
    height: auto;
}

#impressum{
    font-size:10px;
}

/*------------------------------------------------------------*/
/* Navigation / Hamb-Menu */
/*------------------------------------------------------------*/

/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo{
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 350px;
    height: calc(100vh - 90px);
    position:fixed;
    background-color: var(--black);
    overflow-y: scroll;
    top:90px;
}

.menu a{
    display: block;
    padding: 30px;
    color: var(--white);

}

.menu a:hover{
    background-color: var(--grey);
    width: 350px;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-in;
}

/* Menu Icon */

.hamb{
    display:flex;
    cursor: pointer;
    float: left;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/*------------------------------------------------------------*/
/* Fotogallerie */
/*------------------------------------------------------------*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Puts all columns on top of each other */
  .column {
    flex: 100%;
    max-width: 100%;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: transform 0.3s ease;
  }

  .column-2 {
    flex: 100%;
    max-width: 100%;
  }
  
  .column-2 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: transform 0.3s ease;
  }
  
/*------------------------------------------------------------*/
/* Tabelle */
/*------------------------------------------------------------*/

.table {
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.table td, .customers th {
    border-bottom: 1px solid black;
    padding: 8px;
  }
  
.table tr:nth-child(even){background-color:var(--white)}
  
.table tr:hover {background-color: #ddd;}
  
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--red);
    color: var(--white);
  }

/*------------------------------------------------------------*/
/* Kontaktformular */
/*------------------------------------------------------------*/
.formfield {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: #ebeaea;
    border:2px solid var(--red);
    transition: all 0.3s;
    padding: 10px;
    margin-bottom: 10px;
    width:100%;
  }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:var(--red);
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:var(--white);
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover {
    background:#CC4949;
  }
/*------------------------------------------------------------*/
/* Responsive Google Maps */
/*------------------------------------------------------------*/
.responsivemap{
    width: 100%;
}

/*------------------------------------------------------------*/
/* Social-Media Links */
/*------------------------------------------------------------*/
.fa {
    padding: 5px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/* Tablet Responsivneness */
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

@media (min-width:768px){
/*------------------------------------------------------------*/
/* Default Settings */
/*------------------------------------------------------------*/
    body{
        font-size: 17px;
    }

    h1{
        font-size:35px;
    }
    h2{
        font-size: 22px;
    }

/*------------------------------------------------------------*/
/* Navigation / Hamb-Menu */
/*------------------------------------------------------------*/

/* Nav menu */
    .nav{
        overflow-y:hidden;
        height:100%;
    }

/* Logo */
    .logo{
        display: inline-block;
        color: var(--white);
        font-size: 60px;
        margin-left: 10px;
    }

/*------------------------------------------------------------*/
/* Footer */
/*------------------------------------------------------------*/    
    footer{
        grid-template-columns:360px 1fr;
        grid-template-rows: 75px 140px 75px;
    }
    #footerpic{
        grid-column-start:2;
        grid-row-start:2;
        text-align: right;
    }
    #impressum{
        grid-column-start:2;
        grid-row-start:4;
        text-align: right;
    }

/*------------------------------------------------------------*/
/* Fotogallerie */
/*------------------------------------------------------------*/
/* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .column-2 {
        flex: 50%;
        max-width: 50%;
    }
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/* Desktop Responsivneness */
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

@media (min-width: 1200px) {
    body{
        margin:2% 10%;
    }

/*------------------------------------------------------------*/
/* Grid-Settings */
/*------------------------------------------------------------*/
    .box-2{
        grid-column: span 2;
    }
    .wrapper{
        grid-template-columns: 1fr 1fr;
    }

/*------------------------------------------------------------*/
/* Footer */
/*------------------------------------------------------------*/    
    footer{
        grid-template-columns:360px 1fr;
        grid-template-rows: 60px 1fr 60px;
        box-shadow: 1px 1px 5px 0px black;
    }

    #footerpic{
        grid-column-start:2;
        grid-row-start:2;
        text-align: right;
    }

/*------------------------------------------------------------*/
/* Navigation / Hamb-Menu */
/*------------------------------------------------------------*/ 
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
/* no Hamb-Menu */
    .hamb{
        display: none;
    }

    header{
        position:sticky;
        top:0;
        width: 100%;
    }

    .menu li{
        float: left;
      }
  
    .menu a:hover{
        width: auto;
  
    }
  
    nav ul{
        overflow: hidden;
    }
    
    nav  li {
        display: inline-block;
    }
    
    nav  li a {
        display: block;
        color: var(--white);
        text-align: center;
        padding: 14px 50px;
        text-decoration: none;
    }
    
    nav li a:hover:not(.active) {
        background-color: var(--grey);
    }
  
/*------------------------------------------------------------*/
/* Fotogallerie */
/*------------------------------------------------------------*/
/* Create two equal columns that sits next to each other */
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
    .column img:hover{
        transform: scale(1.4);
    }
    .column-2 img:hover{
        transform: scale(1.2);
    }
}

/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/* Desktop Responsivneness for bigger Screens */
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/

@media (min-width: 1450px) {
    body{
        margin:2% 20%;
    }
/*------------------------------------------------------------*/
/* Grid-Settings */
/*------------------------------------------------------------*/
    .wrapper-2{
        grid-template-columns:15% 1fr 15%;
    }
    .box-3{
        grid-column-start:2;
    }
}

@media (min-width: 2300px) {
    body{
        margin:2% 20%;
    }
    
/*------------------------------------------------------------*/
/* Grid-Settings */
/*------------------------------------------------------------*/
    .wrapper-2{
        grid-template-columns:25% 1fr 25%;
    }
}
