/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --white: white;
    --black: #36383F;
    --grey: #85888C;
}

/* Default */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:antiquewhite;
    font-family: "Poppins", sans-serif;
    padding: 30px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#top{
    margin-top: 30px;
}

.responsive {
    width: 100%;
    max-width: 600px;
    height: auto;
  }

.responsivefooter {
    width: 100%;
    max-width: 500px;
    height: auto;
}

footer{
    background-color: darkgrey;
    border: 2px solid ;
    height: auto;
    width: auto;
    margin-top: 30px;
    display:grid;
}

  footer .box{
    padding:10px;
}

  .picright{
    text-align: right;
}

.wrapper{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:10px;
}

.wrapper .box{
    padding: 20px;
    border: 1px solid #000;
}

/* Header */
.header{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--grey);
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo{
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 350px;
    height: 100%;
    position:fixed;
    background-color: var(--black);
    overflow: hidden;
    
}

.menu a{
    display: block;
    padding: 30px;
    color: var(--white);

}

.menu a:hover{
    background-color: var(--grey);
    width: 350px;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-in;
}

/* Menu Icon */

.hamb{
    display:flex;
    cursor: pointer;
    float: left;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Tablet Responsivneness */

@media (min-width:768px){
    footer{
        grid-template-columns:360px 1fr;
        grid-template-rows: 40px 1fr 40px;
    }
    #footerpic{
        grid-column-start:2;
        grid-row-start:2;
        text-align: right;
    }
    /* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;

}
}



/* Desktop Responsiveness */

@media (min-width: 1200px) {
    body{
    margin:120px;
    }
    
    footer{
        grid-template-columns:360px 1fr;
        grid-template-rows: 40px 1fr 40px;
    }

    #footerpic{
        grid-column-start:2;
        grid-row-start:2;
        text-align: right;
    }

    .responsive {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;

    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        width: auto;
        
    }
    
    .hamb{
        display: none;
    }
    header{
      background-color: blanchedalmond;
      position:sticky;
      top:0;
      width: 100%;
  }
  
  nav ul{
      overflow: hidden;
  }
    
  nav  li {
    display: inline-block;
  }
    
  nav  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 50px;
      text-decoration: none;
    }
    
  nav li a:hover:not(.active) {
      background-color: var(--grey);
    }
}